<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BOLSA - ESTRATEGIAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        
        <figure class="highcharts-figure">
          <div id="container"></div>
      </figure>

      </ion-col>
      
    </ion-row>
    
    <ion-row>
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="6">
        <ion-segment (ionChange)="cambioSegmento($event)" [value]="pestanaSeleccioanda">
          <ion-segment-button *ngFor="let keyPestana of getKeysOfPestanas()" [value]="pestanas[keyPestana].value">
            <ion-label>{{pestanas[keyPestana].name}}</ion-label>
          </ion-segment-button>

        </ion-segment>

      </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pestanaSeleccioanda===pestanas.calc.value">
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="1">
          <ion-label>Dinero</ion-label>
          <ion-input type="text" [(ngModel)]="calculadora.dinero" placeholder="5000€"></ion-input>
      </ion-col>
      <ion-col size="2">
          <ion-label>Prec. Compra</ion-label>
          <ion-input type="text" [(ngModel)]="calculadora.precCompra" placeholder="1.5"></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-label>Acciones</ion-label>
        <br>
        <strong>{{(calculadora.dinero/calculadora.precCompra) | number:'1.1-2'}}</strong>
    </ion-col>
    <ion-col size="1">
      <ion-label>Prec. Venta</ion-label>
      <br>
      <strong>{{lastIndiceValor.last_numeric}}</strong>
  </ion-col>
    <ion-col size="1">
        <ion-label>Ganancia</ion-label>
        <br>
        <strong [ngStyle]="{'color': calcularGanancias() >=0 ? 'green' : 'red'}">
          {{ calcularGanancias() | number:'1.1-2'}}</strong>
    </ion-col>

      <ion-col size="3">
        
      </ion-col>    </ion-row>
    <ion-row *ngIf="pestanaSeleccioanda===pestanas.opci.value">
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="3"  class="ion-text-center">
          <ion-label color="primary">Núm. Elemnt. ({{elementsNumber}})</ion-label>
       
  

        <ion-range min="1" pin="true"  ticks="true" snaps="true" step="5"  max="200" color="secondary" [(ngModel)]="elementsNumber">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">200</ion-label>
        </ion-range>

      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-label color="primary">Alertas</ion-label>
        <ion-row>
          <ion-col size="6">
            <ion-label color="secondary">Lim. Inferior 
            </ion-label>
                    <ion-button (click)="switchHabilitado(alertaSeniales.limInferior)" expand="block" fill="clear" shape="round">
                      <ion-icon *ngIf="alertaSeniales.limInferior.habilitado" slot="icon-only" name="notifications-outline"></ion-icon>
                      <ion-icon *ngIf="!alertaSeniales.limInferior.habilitado" slot="icon-only" name="notifications-off-outline"></ion-icon>
                  </ion-button>
              <ion-input type="number" [(ngModel)]="limites.inferior" placeholder="1.3"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label color="secondary">Lim. Superior</ion-label>
            <ion-button (click)="switchHabilitado(alertaSeniales.limSuperior)"  fill="clear" shape="round">
              <ion-icon *ngIf="alertaSeniales.limSuperior.habilitado" slot="icon-only" name="notifications-outline"></ion-icon>
              <ion-icon *ngIf="!alertaSeniales.limSuperior.habilitado" slot="icon-only" name="notifications-off-outline"></ion-icon>
          </ion-button>
            <ion-input [(ngModel)]="limites.superior" type="number" placeholder="1.3"></ion-input>

          </ion-col>
        </ion-row>


    </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="6">
            <ion-list>
                  <ion-list-header>
                    <ion-label>Estrategias (MAX: <span style="color: green;">{{lastIndiceValor.high}}</span> ,V: <span style="color: yellow;">{{lastIndiceValor.last_numeric}}</span>,MIN: <span style="color: red;">{{lastIndiceValor.low}}</span> )</ion-label>
                    
                    
                  </ion-list-header>
                  <ion-item>
                    <ion-label slot="start">¿Mostrar solo señales relevantes?</ion-label>
                    <ion-checkbox slot="end" checked="true" [(ngModel)]="filtros.soloRelevantes"></ion-checkbox>
                  
                  </ion-item>
                  <ion-item *ngFor="let senial of listaSenialesView">


                    <ion-grid style="width: 100%!important;    min-width: 100%;">
                      <ion-row [ngStyle]="{'background': senial.background}">
                        <ion-col size="12">

                          <h2 >
                            {{senial.indice}} - {{senial.estrategia}} 
                          </h2>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="9">
                          MAX: <span style="color: green;">{{senial.valorMaxActual}}</span> ,V: <span style="color: yellow;">{{senial.valorActual}}</span>,MIN: <span style="color: red;">{{senial.valorMinActual}}</span>
                      
                          <strong style="color: ivory;    font-size: 20px;" >
                            |
                          </strong>
                          <ion-icon  class="tam_icon" [ngStyle]="{'color': senial.colorTendencia}" [name]="senial.tipoArrow"></ion-icon>

                         
                        </ion-col>
                        <ion-col size="1" [title]="senial.isMax ? 'Máximo actual' : 'Mínimo actual'">
                          <ion-icon class="tam_icon" color="success" *ngIf="senial.isMax" title="Máximo actual" name="trending-up"></ion-icon>

                          <ion-icon class="tam_icon" name="trending-down" color="danger" *ngIf="senial.isMin" title="Mínimo actual"></ion-icon>
                         
                         
                          
                        </ion-col>
                        <ion-col size="2" class="ion-text-center">
                          <ion-badge color="dark">{{senial.hora}}</ion-badge>
                          <!-- <span class="ion-text-right" style="color: green;">{{senial.hora}}</span> -->
                        </ion-col>
                      </ion-row>
                        <ion-row>
                          <ion-col size="10">

                            <span>
                              {{senial.info}}
                            </span>
                          </ion-col>
                          <ion-col size="2" class="ion-text-center">
                            <span [ngStyle]="{'color': senial.colorSenial}" >
                              {{senial.accion}}
                            </span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      <ion-label>
                      
                        

                        
                        
                        
                    
                    </ion-label>
                    
                    
                    
                  </ion-item>
            </ion-list>    
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
  
</ion-content>
